<h1>用户登录</h1>
<br> </br>
<%= form_tag :action => 'create' do %>
    <p> <label for = "user_name" >用户名:</label> </p>
    <p> <%= text_field "users" ,"name" %></p>
    <br>
    <p> <label for = "user_password" >密码:</label> </p>
    <p> <%= text_field "users" ,"password" %></p>
    <%= submit_tag "登陆" %>
<% end%>
<%= link_to '注册', 'user#new'%>
